#exemplar-graphs {
    position: absolute;
    left: 1040px;
    top: 10px;
    /* width: 386.67px; */
    /* width: 700px; */
    /* height: 800px; */
    /* height: 426.67px; */
}

#exemplar-graphs .source {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 430px;
    height: 470px;
}

#exemplar-graphs .source_modified {
    position: absolute;
    left: 440px;
    top: 0px;
    width: 430px;
    height: 470px;
}

#exemplar-graphs .target {
    position: absolute;
    left: 0px;
    top: 480px;
    width: 430px;
    height: 470px;
}

#exemplar-graphs .target_generated {
    position: absolute;
    left: 440px;
    top: 480px;
    width: 430px;
    height: 470px;
}

#exemplar-graphs .container {
    top: 40px;
    position: relative;
    height: 430px;
    width: 430px;
    background-color: #eee;
}